<body>
  <div>
  <h1>Welcome Back</h1>
  <h3>Login Here</h3>
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <div>
      <label for="username">Username</label>
      <input  type="text"
              id="username"
              name="username"
              [(ngModel)]="form.username"
              #username="ngModel" required>
    </div>
    <div>      
      <label for="password">Password</label>
      <input  type="password"
              id="password"
              name="password"
              [(ngModel)]="form.password"
              #password="ngModel" required>
    </div>
    <div>
    <button routerLink="/Post" (click)="logout()" routerLinkActive="active">Submit</button>
    </div>
    <div>
      <button routerLink="/register">Register</button>
      </div>
  </form>
  </div>
</body>